apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
  namespace: prod
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nodejs
  template:
    metadata:
      labels:
        app: nodejs
    spec:
      containers:
      - name: nodejs
        image: nodejs-k8s-app:3.1
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        envFrom:
        - configMapRef:
            name: nodejs-config
        env:
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: nodejs-secret
              key: DB_PASSWORD
